WarGame.Web/Service References/WarGameServiceReference/WarGameService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WarGame.Transfer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WarGame.Transfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ActiveCardDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TransferObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ComputerCard" nillable="true" type="tns:CardDTO" />
          <xs:element minOccurs="0" name="HumanCard" nillable="true" type="tns:CardDTO" />
          <xs:element minOccurs="0" name="IsHumanWinner" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActiveCardDTO" nillable="true" type="tns:ActiveCardDTO" />
  <xs:complexType name="TransferObjectBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDisposed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferObjectBase" nillable="true" type="tns:TransferObjectBase" />
  <xs:complexType name="CardDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TransferObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Number" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Symbol" type="tns:SymbolsDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CardDTO" nillable="true" type="tns:CardDTO" />
  <xs:simpleType name="SymbolsDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SPADES" />
      <xs:enumeration value="HEARTS" />
      <xs:enumeration value="DIAMONDS" />
      <xs:enumeration value="CLUBS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SymbolsDTO" nillable="true" type="tns:SymbolsDTO" />
</xs:schema>